body
{
    background-color: black;
    color: white;
}
#coordinateReadout
{
    font-size: xx-large;
}
#fetchButton
{
    height: auto;
    width: auto;
    font-size: xx-large;
}
#map 
{ 
    height: 500px; 
    width: 800px;
}
